<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The chat app</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<ul id="messages"></ul>
  <div id="container">
    <h2 id="welcome">Welcome To The Cosmic Chat App</h2>
    <input type="text" class="nickname" placeholder="What is your nickname?" id="nicknameEntry">
    <button id="join">Join Chat</button>
    <form>
      <input class="message" type="text" id="m" placeholder="Enter your message here"autocomplete="off">
      <button>send</button>
    </form>
  </div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
